body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Logo */

nav .logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

nav .logo .logo-web {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* Menu Nav */

.menu-nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.menu-nav-address {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.menu-nav-link:hover,
.menu-nav-link:active {
  color: #404bbf;
}

.menu-nav-address:hover {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
